<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content1 %}
<center><h1><a href="{% url 'login' %}">Already Logged In</a></h1></center>
{% endblock %}

{% block content2 %}
<div class="upperbody">
    <div class="pretitle">Built by Team Bluefire</div>
    <div class="title">
        <h1 class="text-primary"> Welcome to the Bluefire Moodle!</h1>
    </div>
    <div class="hero-cta">
        <a href="../signup/" class="pressit">Signup</a>
        <a href="../login/" class="pressit">Login</a>
    </div>
</div>

<div class="padding">
    <h1 class="text-secondary">
        Login to Bluefire Moodle
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="custom_hero-cta">
            <button type="submit" class="pressit">Log In</button>
        </div>
    </form>
</div>
{% endblock %}
