<!-- templates/Announcements.html-->
{% extends 'base.html' %}
{% block title %}Announcements{% endblock %}

{% block content1 %}

<center>
    <h1 class="text-primary" style="font-size: 100px;">{{course}}</h1>
</center>
<ul>
    {% if allowed %}

    <div style="float: right;">
        <a href="{% url 'announcements_create' course %}">Create Announcement</a>
    </div>
    {% endif %}

    <br>
    <br>
    <ul>
        {% if teacher %}
        {% if allowed %}
        <a href="{% url 'stop_announcements' course %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal;">
            Stop Announcements</a>
        {% else %}
        <a href="{% url 'start_announcements' course %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal;">
            Resume Announcements</a>
        {% endif %}

        {% for key,value in data.items %}
        <li class="username" class="badge bg-primary text-wrap">
            {{key.0|safe}}
            <br>
            <ul>
                {% for reply in value %}
                {{reply|safe}}
                {% endfor %}
            </ul>
            {% if allowed %}

            <a href="{% url 'announcements_reply' course key.1 %}" class="user_button" class="btn btn-link" button
                type="button" style="white-space: normal;">
                Reply to this</a>
            <br>
            {% endif %}

        </li>
        {% endfor %}
        {% else %}
        {% for key,value in data.items %}
        <li class="username" class="badge bg-primary text-wrap">
            {{key.0|safe}}
            <br>
            <ul>
                {% for reply in value %}
                {{reply|safe}}
                {% endfor %}
            </ul>
            <a href="{% url 'announcements_reply' course key.1 %}" class="user_button" class="btn btn-link" button
                type="button" style="white-space: normal;">
                Reply to this</a>
            <br>
        </li>
        {% endfor %}
        {% endif %}

    </ul>
    <br><br><br>
    {% endblock %}

    {% block content2 %}
    <center>
        <h1><a href="{% url 'login' %}">Please Login</a></h1>
    </center>
    {% endblock %}