{% extends 'base.html' %}
{% block title %}Assignments Download{% endblock %}

{% block content1 %}
<div style="margin-left: 2cm;">
    {{asgn|safe}}
</div>


<h3>Submissions</h3>
<div style="margin-left: 2cm;">
<ul>
    {% for sub in subs %}
    <li>{{sub}}</li>
    {% endfor %}
</ul>
   

</div>

<div style="margin-left: 2cm; margin-top: 4cm;">
<h2>Download all Submissions</h2>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Download">
</form>
</div>
<div>
    <a href = "{% url 'feedback' course_name name %}">Here</a>
</div>

{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}