{% extends 'base.html' %}
{% block title %}Assignments Submission{% endblock %}

{% block content1 %}
<h1>
<div style="margin-left: 2cm; margin-top: 2cm;">
    {{asgn_name|safe}}
</div>
</h1>
<div style="margin-left: 2cm; font-size: 25px; margin-top: 2cm;">
    {{asgn|safe}} <br>
    <hr>
    Feedback : {{asgn_feedback}} <br>
    Grade : {{asgn_grade}}
    <br>
	Done : 
	{% if isCompleted %}
	True
	{% else %}
	False
	{% endif %} <br>
	Deadline :
	{{asgn_deadline}}
    <hr>
</div>

<div style="margin-left: 2cm; margin-top: 2cm;">
<h2>Submit files here</h2>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>
</div>

{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
