<!-- templates/assignments.html-->
{% extends 'base.html' %}
{% block title %}Assignments{% endblock %}

{% block content %}

<center>
<h1>COURSE CS 222</h1>
<h2>Assignments</h2>
</center>
<ul>
    <li>Assignment 1</li>
    <li>Assignment 2</li>
    <li>Assignment 3</li>
    <li>Assignment 4</li>
    <li>Assignment 5</li>

    
</ul>
<br><br>
open each assignment link to get the submitted/not submitted status.

Fetch the responses from a master database, storing assignment data in the course model.



{% endblock %}