<!-- templates/assignments.html-->
{% extends 'base.html' %}
{% block title %}Assignments{% endblock %}

{% block content1 %}

<div style="float: right;">
    <a href="assignment_creation">Create Assignment</a>
</div>
<center>
    <h1 class="text-primary" style="font-size: 100px;">COURSE CS 222</h1>
</center>
<ul>

    {% for name,assignment in data.items %}
    <li class="username" class="badge bg-primary text-wrap">
        <a href="{% url 'assignment_submission' name %}" class="user_button" class="btn btn-link" button type="button" style="white-space: normal;">
            {{name}}</button></a>
        <br>
    </li>
    {% endfor %}


</ul>


<br><br>
<div class="text-info">
    <center>
        open each assignment link to get the submitted/not submitted status.
    </center>
    <center>
        Fetch the responses from a master database, storing assignment data in the course model.
    </center>
</div>
<br><br><br>
{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}