<!-- templates/base.html -->
<!DOCTYPE html>
<html >

<head >
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ section.title }}{% endblock %}</title>

  
</head>

<body>
<p style="text-align:left;">
    <a href="#">Logo</a> 
    <span style="float:right;">
       <a href="#">Profile</a>  
    </span>
</p>
<p style="text-align:right;">
<a href="#">Settings</a> 
</p>

<body style="background-color: rgb(231, 219, 226)">

    {% block content %}
    {% endblock %}

</body>

</html>
