<!-- templates/base.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ section.title }}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <style>

  </style>
</head>

<body>

  <a style="float:left;margin-left:20px;margin-top:10px;"><img src="{% static 'images/logo.png' %}" width="120"
      height="117"></a>

  <div class="header">
    {% if user.is_authenticated %}
    <div style="float: right; color: darkblue;"><img src="{% static 'images/profile_icon.png' %}" width="50"
        height="50">
      <h3>{{user.username}}</h3>
    </div>
    {% endif %}
    <h1>Built by Team Bluefire</h1>

  </div>
  </div>
  <div class="topnav">

    {% if user.is_authenticated %}
    <a href="{% url 'dashboard' %}">HOME</a>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'settings' %}">Settings</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
  {% if user.is_authenticated %}
  {% block content1 %}
  {% endblock %}
  {% else %}
  {% block content2 %}
  {% endblock %}
  {% endif %}

</body>

</html>