<!-- templates/course_access.html -->

{% extends 'base.html' %}
{% block title %}Send out access codes{% endblock %}

{% block content1 %}

<center>
<form method="post" style="margin-top:15px;">
    {% csrf_token %}
    <label style="font-size: 24px;">Email List</label>
    {{form.email_list}}
    <br>
    <label style="font-size: 24px;">Master Email</label>
    {{form.master_email}}
    <br>
    <label style="font-size: 24px;">Assistant Email</label>
    {{form.assistant_email}}
    <br>
    <input type="submit" value="Mail">
</form>
</center>

{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
