<!-- templates/grades.html-->
{% extends 'base.html' %}
{% block title %}Grades{% endblock %}

{% block content1 %}

<center>
    <h1 class="text-primary" style="font-size: 100px;">COURSE {{course_name}}</h1>
</center>
<div style="margin-left: 300px;">
<ul>
{% for key, value in assignment_dict.items %}
<li style="font-size: 24px;">{{key}} : <span style="color: brown;">{{value}}</span></li>
{% endfor %}

</ul>

{{chart|safe}}
</div>

{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}