<!-- templates/courses.html-->
{% extends 'base.html' %}
{% block title %}Assignments{% endblock %}

{% block content1 %}

<center>
    <h1 class="text-primary" style="font-size: 70px;">Welcome to {{ name }} !</h1>
    <!-- {{ course }} -->
    <br>
    <!-- {{profileq}} -->
    <h2 style="font-size: 30px;">{{info}}</h2>
</center>

<div class="container">
    <div class="row">
        <a href="{% url 'announcements' name %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal; color: black; width: 300px;"> Announcements and Posts</button></a>
        <br>
    </div>
    <div class="row">
        <a href="{% url 'participants' name %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal; color: black; width: 300px;">
            Participants</button></a>
        <br>
    </div>
    <div class="row">
        <a href="{% url 'assignments' name %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal; color: black; width: 300px;"> Assignments and Course Content
        </button></a>
        <br>
    </div>
    <div class="row">
        <a href="{% url 'grades' name %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal; color: black; width: 300px;">
            Grades</button></a>
        <br>
    </div>
    {% if isTeacher %}
    <div class="row">
        <a href="{% url 'course_email' name %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal; color: black; width: 300px;">
            Send access mail</button></a>
        <br>
    </div>
    {% endif %}
    <div class="row">
        <a href="{% url 'course_stats' name %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal; color: black; width: 300px;">
            Course Statistics</button></a>
        <br>
    </div>
</div>

<br><br>
<!--div class="text-info">
    <center>
        different action perhaps for hovering and clicking
    </center>
</div-->
<br><br><br>

{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
