<!-- templates/course_creation.html -->

{% extends 'base.html' %}
{% block title %}Create Course{% endblock %}

{% block content1 %}

<center>
<form method="post">
    {% csrf_token %}
    <label>Course Name</label>
    {{ form.course_name }}
    <br>
    <p></p>
    <label>Course Info</label>
    {{ form.course_info }}
    <br>
    <p></p>
    <label>Access Code</label>
    {{ form.access_code }}
    <br>
    <p></p>
    <label>Master Code</label>
    {{ form.master_code }}
    <br>
    <p></p>
    <input type="submit" value="Submit">
</form>
</center>

{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}