<!-- templates/courses.html-->
{% extends 'base.html' %}
{% block title %}Assignments{% endblock %}

{% block content1 %}

<center>
    <h1 class="text-primary" style="font-size: 100px;">Welcome to {{ name }} !</h1>
    <!-- {{ course }} -->
    <br>
    <!-- {{profileq}} -->
    <h2>{{info}}</h2>
</center>
<ul>


    <li class="username" class="badge bg-primary text-wrap">
        <a href="{% url 'announcements' name %}" class="user_button" class="btn btn-link" button type="button"
            style="white-space: normal;"> Announcements and Posts</button></a>
        <br>
    </li>
    <li class="username" class="badge bg-primary text-wrap">
        <a href="" class="user_button" class="btn btn-link" button type="button" style="white-space: normal;"> Course
            Content</button></a>
        <br>
    </li>
    <li class="username" class="badge bg-primary text-wrap">
        <a href="" class="user_button" class="btn btn-link" button type="button" style="white-space: normal;">
            Exams</button></a>
        <br>
    </li>
    <li class="username" class="badge bg-primary text-wrap">
        <a href="{% url 'assignments' name %}" class="user_button" class="btn btn-link" button type="button" style="white-space: normal;"> Assignments
        </button></a>
        <br>
    </li>
    <li class="username" class="badge bg-primary text-wrap">
        <a href="{% url 'grades' name %}" class="user_button" class="btn btn-link" button type="button" style="white-space: normal;">
            Grades</button></a>
        <br>
    </li>
    <li class="username" class="badge bg-primary text-wrap">
        <a href="{% url 'course_email' name %}" class="user_button" class="btn btn-link" button type="button" style="white-space: normal;">
            Send access mail</button></a>
        <br>
    </li>
    <li class="username" class="badge bg-primary text-wrap">
        <a href="{% url 'course_stats' name %}" class="user_button" class="btn btn-link" button type="button" style="white-space: normal;">
            Course Statistics</button></a>
        <br>
    </li>


</ul>

<br><br>
<!--div class="text-info">
    <center>
        different action perhaps for hovering and clicking
    </center>
</div-->
<br><br><br>
{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
