<!-- templates/course_creation.html -->

{% extends 'base.html' %}
{% block title %}Create Course{% endblock %}

{% block content1 %}

<center>
<form method="post" style="margin-top:25px;margin-left:-65px;">
    {% csrf_token %}
    <label>Course Name</label>
    {{ form.course_name }}
    <br>
    <p></p>
    <label>Course Info</label>
    {{ form.course_info }}
    <br>
    <p></p>
    <label>Access Code</label>
    {{ form.access_code }}
    <br>
    <p></p>
    <label>Assistant Code</label>
    {{ form.assistant_code }}
    <br>
    <p></p>
    <label>Master Code</label>
    {{ form.master_code }}
    <br>
    <p></p>
    <p>Assistant Privileges</p>
    <label>assistant can grade assignment</label>
    {{ form.assistant_can_grade_assignments }}
    <br>
    <label>assistant can create assignment</label>
    {{ form.assistant_can_create_assignment }}
    <br>
    <label>assistant can add members</label>
    {{ form.assistant_can_add_students }}
    <br>
    <input type="submit" value="Submit">
</form>
</center>

{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
