<!-- templates/dashboard.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content1 %}

<!-- <span style="float: right;">
  <button class="btn btn-outline-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight">View Assignments</button>
</span> -->

<div style="float: center; margin-left:15px;margin-top:15px;">
  <a href="{% url 'course_creation' %}">CREATE NEW COURSE</a>
</div>
<div style="float: center;margin-left:15px;">
  <a href="{% url 'course_access' %}">JOIN A COURSE</a>
</div>


<center>
  <div class="section" class="text-primary" style="margin-left:-25px;">

    <div class="text-primary" style="font-size: 100px;">
      Courses
    </div>
</center>

{% for name, info in data.items %}
<div class="username" class="badge bg-primary text-wrap">
    <a href="{% url 'courses_unique' name %}" class="user_button" class="btn btn-link" button type="button" style="white-space: normal;">
        {{name}}</button></a>
    <br>
</div>
{% endfor %}
<!-- 
<center>
  <div class="border">

    <div class="container">
      <div class="row">
        <div class="col">
          <a href="{% url 'courses' %}">
            <button class="gesture-detector">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/CS251.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CS251</h5>
                  <p class="card-text">Software Systems Lab</p>
                </div>
              </div>
            </button>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'courses' %}">
            <button class="gesture-detector">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/CS251.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CS251</h5>
                  <p class="card-text">Software Systems Lab</p>
                </div>
              </div>
            </button>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'courses' %}">
            <button class="gesture-detector">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/CS251.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CS251</h5>
                  <p class="card-text">Software Systems Lab</p>
                </div>
              </div>
            </button>
          </a>
        </div>
      </div>
      <div class="row">
        <p>

        </p>
      </div>
      <div class="row">
        <div class="col">
          <a href="{% url 'courses' %}">
            <button class="gesture-detector">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/CS251.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CS251</h5>
                  <p class="card-text">Software Systems Lab</p>
                </div>
              </div>
            </button>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'courses' %}">
            <button class="gesture-detector">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/CS251.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CS251</h5>
                  <p class="card-text">Software Systems Lab</p>
                </div>
              </div>
            </button>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'courses' %}">
            <button class="gesture-detector">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/CS251.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CS251</h5>
                  <p class="card-text">Software Systems Lab</p>
                </div>
              </div>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</center> -->

{% endblock %}

{% block content2 %}
<center>
  <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
