<!-- templates/grades.html-->
{% extends 'base.html' %}
{% block title %}Grades{% endblock %}

{% block content1 %}

<center>
<h1 class="text-primary" style="font-size: 100px;">COURSE CS 222</h1>
</center>
<ul>
<ul>
    <li>Exam name, Marks obtained, feedback</li>
    
</ul>
<br><br>

<div class="text-info"><center>
perhaps table format

</center>
</div>
<br><br><br>



{% endblock %}

{% block content2 %}
<center><h1><a href="{% url 'login' %}">Please Login</a></h1></center>
{% endblock %}