{% extends 'base.html' %}
{% block title %}Assignments Feedback{% endblock %}

{% block content1 %}

<div style="margin-left: 2cm; margin-top: 4cm;">
<h2>Give Feedback Here</h2>
<form method="post">
    {% csrf_token %}
    <label>Marks</label>
    {{ form.marks}}
    <br>
    <p></p>
    <label>Grade</label>
    {{ form.grade }}
    <br>
    <p></p>
    <label>Feedback</label>
    {{ form.feedback }}

    <br>
    <p></p>
    <input type="submit" value="Submit">
</form>
</div>

{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}