<!-- templates/profile.html-->
{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content1 %}

<center>
    <h1 class="text-primary" style="font-size: 100px;">{{user.username}}</h1>
</center>
<ul>
    <ul>
        <li> {{user.member.email_id}}</li>
        <li>{{user.member.institute_name}} </li>
        <li>Courses List</li>
        <ul>{% for key in courses_list%}
            <li> {{key}}   </li>

            {% endfor %}
        </ul>
    </ul>
    <br><br>
</ul>

<div>
   
</div>


<div class="text-info">
    <center>

    </center>
</div>
<br><br><br>



{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}