<!-- templates/profile.html-->
{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content1 %}

<center>
    <h1 class="text-primary" style="font-size: 70px; margin-left:-10px;">{{user.username}}</h1>
</center>
<div style="font-size: 25px; margin-left: 2cm;">
    <ul>
        <li>Email Address : <span style="color: brown;">{{user.member.email_id}}</span></li>
        <li>Affiliation : <span style="color: brown;">{{user.member.institute_name}}</span></li>
        <li>Courses Undertaken</li>
        <ul style="color: brown;">{% for key in courses_list%}
            <li> {{key}}   </li>

            {% endfor %}
        </ul>
    </ul>
    <br><br>
</div>



{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
