<!-- templates/settings.html-->
{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content1 %}

<hr>
<center>
<div style="font-size: 25px ;">
<form method="post">
    {% csrf_token %}
    <label class="text-secondary">Edit your Profile Here (You may choose to leave some blanks empty)</label><br>
    <label>Institute name</label>
    {{ form.institute_name }}
    <br>
    <label>Email id</label>
    {{ form.email_id }}
    <br>
    <input type="submit" value="Submit">
</form>
</div>
</center>
<hr>
<center>
    <h3><a href="{% url 'password_change' %}">Click here to change password</a></h3>
</center>



{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
