<!-- templates/settings.html-->
{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block content1 %}

<center>
    <h1 class="text-primary" style="font-size: 100px;">Settings</h1>
</center>
<center>
<form method="post">
    {% csrf_token %}
    <label>Edit your Profile Here</label><br>
    {{ form }}
    <input type="submit" value="Submit">
</form>
</center>



{% endblock %}

{% block content2 %}
<center>
    <h1><a href="{% url 'login' %}">Please Login</a></h1>
</center>
{% endblock %}
